.name{
    color: var(--current-primary);
}

.title{
    color: var(--current-text);
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.bio{
    color: var(--current-text);
    text-wrap: pretty;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

em{
    text-decoration: none;
    font-style: normal;
    color: var(--current-primary);
    font-weight: 700;
}