.name{
    color: var(--current-primary);
}

.title{
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.bio{
    color: var(--current-text);
    text-wrap: pretty;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 0rem;
    margin-bottom: 11rem;
}

.education-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.technical-skills-title{
    margin-top: 15rem;
    text-align: left;
}

em{
    text-decoration: none;
    font-style: normal;
    color: var(--current-primary);
    font-weight: 700;
}

h1{
    color: var(--current-text);

}

h2{
    color: var(--current-text);

}