.project-logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 100%;
    margin-bottom: 5rem;
    z-index: 1;
}

.project-bio {
    margin-bottom: 1rem;
    text-wrap: pretty;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 0rem;
}

.project-bio em{
    text-decoration: none;
    font-style: normal;
    color: var(--dark-secondary);
    font-weight: 700;
}

.project-content {
    background-color: var(--dark-primary);
    opacity: 0.90;
    border-radius: 22px;
    width: 65%;
    padding: 1rem;
}

.aurora-project-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: flex-start;   
}

.project-bio-aurora {
    margin-bottom: 1rem;
    color: var(--dark-text);
    text-wrap: pretty;
    width: 45%;
}

.project-title-direwolf {
    color: var(--dark-text);
}

.project-title-aurora {
    color: var(--light-background);
}

.project-title-greencart {
    color: var(--light-text);
}